@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Karla:wght@300&family=Paytone+One&display=swap');


body {

    background-color: #fbe8a6;
    background-image: url('img/wavey-fingerprint.svg');

}

/* Header */

header nav.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Alumni Sans Inline One', cursive;

}

header nav img.logo {

    width: 70px;
    margin-left: 20px;
    border-radius: 50%;
    padding: 10px;

}

header nav div.league {

    display: flex;
    flex-direction: row;
    align-items: center;

}

header nav div.league span.league-name {

    font-size: 32px;

}

header nav ul.nav-items {

    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 500px) {

    header nav ul.nav-items {

        display: none;

    }

}

header nav ul.nav-items > li {

    list-style-type: none;
    padding: 10px;
    font-size: 40px;
    text-transform: uppercase;
    color: #303c6c;

}

header nav ul.nav-items > li > a {

    text-decoration: none;
    color: #303c6c;

}

header nav ul.nav-items > li > a:hover {

    color:indianred;

}

header nav ul > li > a:visited {

    color:#303c6c;

}

/* End header */


/* Main */
div.main {

    opacity: 0.95;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
    margin-bottom: 50px;

}

div.main > div:first-child.player-card {

    text-align: right;
    width: 450px;

}

@media only screen and (max-width: 500px) {

    div.main > div:first-child.player-card {

        width: 80%;
    
    }

}

div.main > div.player-card > div:not(:last-child),
div.main > div.player-card > div:last-child > div {

    background-color: rgba(221, 102, 0, 0.6);
    color: white;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 1px 3px 4px #9e5736;

}

div.main > div.player-card > div:last-child > div:first-child {

    background-color: inherit;
    color: rgba(78, 78, 78, 1);

}

div.main > div.player-card > div:last-child {

    display: flex;
    flex-direction: row;
    justify-content: end;

}

div.main > div.player-card > div:last-child > div
{

    background-color: #303c6c;
    box-shadow: 1px 2px 3px grey;
    cursor: pointer;

}

div.main > div.player-card > div:last-child > div.hidden-button {

    display: none;

}

div.main > div.player-card > div:last-child > div:active {

    box-shadow: 0 0 0;

}

div.main > div.player-card > div:last-child > div:first-child:active {

    box-shadow: 1px 1px 1px grey;

}

div.main > div.player-card > div:last-child > div:first-child {

    margin-right: 5px;

}

div.main > div.player-card > div:last-child > div:last-child {

    margin-left: 5px;

}

div.main > div.player-card > div.player-name {

    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    text-align: center;

}

div.main > div.player-card > div.player-info-container {

    text-align: center;
    display: flex;
    flex-direction: row;

}

div.main > div.player-card > div.player-info-container >
div.player-team {
    width: 60%;
}

div.main > div.player-card > div.player-info-container >
div.player-statistics {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media only screen and (max-width: 500px) {

    div.main > div.player-card > div.player-info-container >
    div.player-team {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.main > div.player-card > div.player-info-container >
    div.player-statistics {
        width: 50%;
    }

}


div.main > div.player-card > div.player-info-container >
div.player-team > div.player-buyed-sign {

    display: none;
    position: absolute;
    background-color: red;
    padding: 5px 10px;
    font-size: 22px;
    border-radius: 5px 5px 5px 5px;
    transform: rotate(15deg);
    text-transform: uppercase;

}

div.main > div.player-card > div.player-info-container.buyed >
div.player-team > div.player-buyed-sign {

    display: block;
}

div.main > div.player-card > div.player-info-container
> div.player-team > img.team-logo {

    width: 200px;
    border-radius: 50%;

}

@media only screen and (max-width: 500px) {

    div.main > div.player-card > div.player-info-container
    > div.player-team > img.team-logo {
    
        width: 100px;
        border-radius: 50%;
    
    }
    

}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div {
    margin-top: 7px;
    margin-bottom: 7px;
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-role {
    float:left;
}

div.main > div.player-card > div.player-info-container
> div.player-statistics >  div.player-role > span {
    border-radius: 50%;
    padding: 3px;
    display: inline-block;
    border: 2px solid white;
    width: 24px;
    height: 24px;
    margin-left: -3px;
    margin-right: -3px;
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-role > span.player-role-goalkeeper {
    background-color: rgb(209, 133, 34);
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-role > span.player-role-defender {
    background-color: rgb(11, 175, 11);
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-role > span.player-role-midfielder {
    background-color: rgb(63, 63, 241);
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-role > span.player-role-wing {
    background-color: purple;
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-role > span.player-role-forward {
    background-color: rgb(224, 16, 16);
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-price > span {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 2px solid #105a37;
    background-color: rgb(229, 184, 11);
    color: #105a37;
    padding: 3px;
    
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-buyer > form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-buyer > form > div {
   width: 100%;
   margin-top: 5px;
   display: flex;
   flex-direction: row;
   justify-content: end;
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-buyer > form > div > input[type="number"],
input[type="number"] {
   width: 40px;
   border-radius: 10px;
   padding: 4px;
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-buyer > form > div > input[type="submit"],
input[type="submit"] {
   cursor: pointer;
   background-color: #303c6c;
   color: white;
   border-radius: 10px;
   padding: 4px;
}

div.main > div.player-card > div.player-info-container
> div.player-statistics > div.player-buyer > form > div > select,
select {
   margin-left: 5px;
   border-radius: 10px;
   padding: 4px;
}

div.main > div.custom-selector > div.custom-selected-player {
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans Georgian', sans-serif;
}

.hidden {
    visibility: hidden;
}

/* End Main */

/* Footer */

footer {

    font-family: 'Karla', sans-serif;
    font-weight: 600;
    padding: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;

}

/* End Footer */
